.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

.header {
  border-bottom:1px solid #d9d9d9;

  &__wrapper {
    height: 80px;
    display: flex;
    align-items: center;
  }
  
  &__nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
  }

  &__item {
    font-family: 'Roboto-300';
    text-decoration: none;
    color: #435993;

    &:hover {
      color: $dark;
    }
  }
}

.main {
  
  &__title {
    font-family: 'Roboto-100';
    font-size: 70px;
    line-height: 1.2;
    color: $dark;
    margin-top: 130px;
    margin-bottom: 75px;
    text-align: center;
  }
}

.universal {

  &__img {
    display: block;
    margin: 0 auto 27px auto;
  }

  &__title {
    text-align: center;
    font-family: 'Roboto-300';
    font-size: 30px;
    line-height: 1.2;
    color: $dark;
    margin: 0;
  }
}